[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
django = "*"
djangorestframework = "*"
pytest-django = "*"
python-dotenv = "*"
faker = "*"
coverage = "*"
pytest-cov = "*"
paho-mqtt = "*"
tinytuya = "*"
tomli = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.11.9"
python_full_version = "3.11.9"
