[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
coverage = "*"
paho-mqtt = "*"
tinytuya = "*"
tomli = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytz = "*"

[dev-packages]
pytest-django = "*"
pytest = "*"
faker = "*"
pytest-cov = "*"
flower = "*"

[requires]
python_version = "3.11.9"
python_full_version = "3.11.9"
