[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
paho-mqtt = "*"
tinytuya = "*"
tomli = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
uvicorn = "*"
pytz = "*"
dj-database-url = "2.3.0"

[dev-packages]
pytest-django = "*"
pytest = "*"
faker = "*"
pytest-cov = "*"
flower = "*"
coverage = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13"
